SQLQuery2.sql
.vs/GridTesting/FileContentIndex/171233c5-8ef2-447f-bcfb-5d7d069913ce.vsidx
.vs/GridTesting/FileContentIndex/6cfd017f-ea49-4a5d-9768-e63a78a1d998.vsidx
GridTesting/Database1.mdf
GridTesting/Database1_log.ldf
GridTesting/bin/Debug/net7.0/System.Data.SqlClient.dll
GridTesting/bin/Debug/net7.0/runtimes/
GridTesting/obj/Debug/net7.0/GridTesting.csproj.CopyComplete